# Docker interpreta patrones con "/" — los backslashes de Windows no coinciden con nada.
# Build results
**/bin
**/obj

# User-specific files
**/*.user
**/*.userosscache
**/*.sln.docstates

# Configuración con Secretos
**/appsettings.json
**/appsettings.Development.json

# VS Code
**/.vscode

# Visual Studio
**/.vs

.git
fly.toml
